<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} - nspika</title>
</head>
<body>
    <nav>
        {% include 'defaults/Navbar.html' %}
        {% block additionalNav %}{% endblock additionalNav %}
    </nav>
    <div class="content">
        {% block content %}
        
        {% endblock content %}
    </div>
</body>
</html>